* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body {
    background-color: #513252;
}

.container {
    max-width: 1000px;
    margin: 0 auto 20px auto;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.311);
    background-color: white;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: skyblue;
}

section {
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative;
    height: 150px;
    border-bottom: 1px solid #555;
}

.first-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

}

.first-section li {
    list-style-type: none;

}

h1 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #1967d2;
}

.btn {
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

button img {
    height: 100%;
}