form {
    display: flex;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: 150px;
    gap: 10px;
    flex-wrap: wrap;

    background-color: rgb(205, 205, 205);

}

form input {
    padding: 22px;
    font-size: 16px;
    height: 40px;
    outline: none;
    border: 1px solid #888;
}

form input:hover {
    border: 1px solid #222;
}

@media (max-width: 760px) {
    form {
        justify-content: center;
        height: fit-content;
    }

    .experience-form, .education-form {
        height: 100%;
        padding-bottom: 50px;
    }

}